**/.git/**
**/src/**
**/node_modules/**
**/.github/**
**/test/**
**/coverage/**
**/docs/**
**/tsconfig.json
**/esbuild.mjs
**/vitest.config.ts
**/.eslintrc*
**/.editorconfig
**/CONTRIBUTING.md
**/CHANGELOG.md
**/SECURITY.md
**/*.test.ts
**/.env
**/images/icon.svg
